MINECRAFT_DIR=./minecraft

MINECRAFT_IMAGE_TAG=
MINECRAFT_TYPE=
MINECRAFT_VERSION=

JVM_HEAP_SIZE=2G
JVM_OPTS=

SERVER_PORT=25565
RCON_PORT=25575
RCON_PASSWORD=

BACKUP_INTERVAL=1h
BACKUP_INITIAL_DELAY=0
BACKUP_NAME=world
BACKUP_METHOD=rclone
BACKUP_COMPRESS_METHOD=gzip
BACKUP_INCLUDES=.
BACKUP_EXCLUDES=cache,logs,*.tmp
BACKUP_PRUNE_DAYS=0

S3_PROVIDER=
S3_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL_S3=
S3_BUCKET_NAME=
S3_BUCKET_PATH=
